<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czl.product.dao.BuyDAO" >

    <resultMap id="buyResultMap" type="com.czl.entity.buy.BuyEntity">
        <result property="id" column="id"/>
        <result property="num" column="num"/>
        <result property="time" column="time"/>
        <result property="price" column="price"/>
        <association property="userEntity" javaType="com.czl.entity.user.UserEntity">
            <result property="id" column="user_id"/>
        </association>
        <association property="productEntity" javaType="com.czl.entity.product.ProductEntity">
            <result property="id" column="product_id"/>
            <result property="name" column="name"/>
            <result property="price" column="price"/>
            <result property="url" column="url"/>
            <result property="summary" column="summary"/>
            <result property="content" column="content"/>
            <result property="prodStateEnum" column="state" typeHandler="com.czl.typehandler.EnumTypeHandler"/>
        </association>
    </resultMap>

    <select id="findBuys" resultMap="buyResultMap" parameterType="com.czl.req.buy.BuyQueryReq">
        SELECT
            buy.id AS id,
            buy.user_id AS user_id,
            buy.num AS num,
            buy.time as time,
            buy.price as price,
            product.id AS product_id,
            product.NAME AS NAME,
            product.url AS url,
            product.state AS state,
            product.summary AS summary,
            product.content AS content
        FROM
            biz_buy AS buy
        LEFT JOIN biz_product AS product ON product.id = buy.product_id
        <where>
            <if test="prodStateCode != null">
                AND product.state = #{prodStateCode}
            </if>
            <if test="id != null">
                AND buy.id = #{id}
            </if>
            <if test="productId != null">
                AND buy.product_id = #{productId}
            </if>

            <if test="userId != null">
                AND buy.user_id = #{userId}
            </if>
        </where>
        ORDER BY time desc
    </select>

<!--    <insert id="createBuy">-->
<!--      INSERT INTO biz_buy-->
<!--      (id,product_id,user_id,num)-->
<!--      VALUES-->
<!--      (#{id},#{productId},#{userId},#{num})-->
<!--    </insert>-->
    <insert id="createBuy" parameterType="java.util.List">
        insert into
        (id,product_id,user_id,num)
        VALUES
        <foreach collection="list"  item="item" index="index" separator=",">
            (
                #{item.id,jdbcType=VARCHAR},
                #{item.productId,jdbcType=INTEGER},
                #{item.userId,jdbcType=LONGVARCHAR}，
                #{item.num,jdbcType=LONGVARCHAR}
            )
        </foreach>
    </insert>
</mapper>