<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czl.product.dao.BuyDAO" >

    <resultMap id="buyResultMap" type="com.czl.entity.buy.BuyEntity">
        <result property="id" column="id"/>
        <result property="num" column="num"/>
        <result property="time" column="time"/>
        <result property="price" column="price"/>
        <association property="userEntity" javaType="com.czl.entity.user.UserEntity">
            <result property="id" column="user_id"/>
        </association>
        <association property="productEntity" javaType="com.czl.entity.product.ProductEntity">
            <result property="id" column="product_id"/>
            <result property="name" column="name"/>
            <result property="price" column="price"/>
            <result property="url" column="url"/>
            <result property="prodStateEnum" column="state" typeHandler="com.czl.typehandler.EnumTypeHandler"/>
        </association>
    </resultMap>

    <select id="findBuys" resultMap="buyResultMap" parameterType="com.czl.req.buy.BuyQueryReq">
        SELECT
        car.id as id,
        car.user_id as user_id,
        car.num as num,
        product.id as product_id,
        product.NAME as name,
        product.price as price,
        product.url as url,
        product.state as state
        FROM
        biz_car as car
        LEFT JOIN biz_product as product ON product.id = car.product_id
        <where>
            <if test="prodStateCode != null">
                AND product.state = #{prodStateCode}
            </if>
            <if test="id != null">
                AND car.id = #{id}
            </if>
            <if test="productId != null">
                AND car.product_id = #{productId}
            </if>

            <if test="userId != null">
                AND car.user_id = #{userId}
            </if>
        </where>

        ORDER BY id ASC
    </select>

<!--    <insert id="createBuy">-->
<!--      INSERT INTO biz_buy-->
<!--      (id,product_id,user_id,num)-->
<!--      VALUES-->
<!--      (#{id},#{productId},#{userId},#{num})-->
<!--    </insert>-->
    <insert id="createBuy" parameterType="java.util.List">
        insert into
        (id,product_id,user_id,num)
        VALUES
        <foreach collection="list"  item="item" index="index" separator=",">
            (
                #{item.id,jdbcType=VARCHAR},
                #{item.productId,jdbcType=INTEGER},
                #{item.userId,jdbcType=LONGVARCHAR}，
                #{item.num,jdbcType=LONGVARCHAR}
            )
        </foreach>
    </insert>
</mapper>