<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.czl.product.dao.ProductDAO" >

    <resultMap id="productResultMap" type="com.czl.entity.product.ProductEntity">
        <result property="id" column="id"/>
        <result property="name" column="name"/>
        <result property="price" column="price"/>
        <result property="url" column="url"/>
        <result property="content" column="content"/>
        <result property="summary" column="summary"/>
        <result property="prodStateEnum" column="state" typeHandler="com.czl.typehandler.EnumTypeHandler"/>
        <result property="buyed" column="buyid" typeHandler="com.czl.typehandler.BooleanTypeHandlerForBuyed"/>
        <result property="num" column="num"/>
    </resultMap>

    <select id="findProducts" resultMap="productResultMap" parameterType="com.czl.req.product.ProdQueryReq">
        SELECT id ,name,price,url,content,summary,state
        FROM
          biz_product
        <where>
            <if test="id != null">
                AND product.id = #{id}
            </if>
            <if test="name != null">
                AND name = #{name}
            </if>

            <if test="prodStateCode != null">
                AND state = #{prodStateCode}
            </if>
        </where>
        ORDER BY id ASC
    </select>

    <insert id="createProduct">
      INSERT INTO product
      (id,prod_name,market_price,shop_price,stock,sales,weight,
      top_cate_entity,sub_categ_entity,brand_entity,prod_state,content,company_entity)
      VALUES
      (#{id},#{prodName},#{marketPrice},#{shopPrice},#{stock},#{sales},#{weight},
      #{topCateEntityID},#{subCategEntityID},#{brandEntityID},#{prodState},#{content},#{companyEntityID})
    </insert>
    <update id="updateProduct" parameterType="com.czl.req.product.ProdUpdateReq" >
        update product
        <set >
            <if test="prodName != null" >
                prod_name = #{prodName,jdbcType=VARCHAR},
            </if>
            <if test="marketPrice != null" >
                market_price = #{marketPrice,jdbcType=VARCHAR},
            </if>
            <if test="shopPrice != null" >
                shop_price = #{shopPrice,jdbcType=VARCHAR},
            </if>
            <if test="stock != null" >
                stock = #{stock,jdbcType=INTEGER},
            </if>
            <if test="sales != null" >
                sales = #{sales,jdbcType=INTEGER},
            </if>
            <if test="weight != null" >
                weight = #{weight,jdbcType=VARCHAR},
            </if>
            <if test="topCateEntityID != null" >
                top_cate_entity = #{topCateEntityID,jdbcType=VARCHAR},
            </if>
            <if test="subCategEntityID != null" >
                sub_categ_entity = #{subCategEntityID,jdbcType=VARCHAR},
            </if>
            <if test="brandEntityID != null" >
                brand_entity = #{brandEntityID,jdbcType=VARCHAR},
            </if>
            <if test="prodState != null" >
                prod_state = #{prodState,jdbcType=INTEGER},
            </if>
            <if test="content != null" >
                content = #{content,jdbcType=VARCHAR},
            </if>
            <if test="companyEntityID != null" >
                company_entity = #{companyEntityID,jdbcType=VARCHAR},
            </if>
        </set>
        where id = #{id,jdbcType=VARCHAR}
    </update>
    <delete id="deleteProduct" parameterType="string">
        DELETE FROM biz_product
        WHERE id = #{productId}
    </delete>

    <select id="findProductsForBuyer" resultMap="productResultMap" parameterType="com.czl.req.product.ProdQueryReqForLogin">
        SELECT
            product.id AS id,
            product.NAME AS NAME,
            product.price AS price,
            product.url AS url,
            buy.id AS buyid,
            COUNT( DISTINCT product.id)
        FROM
            biz_product product
            LEFT JOIN ( SELECT * FROM biz_buy WHERE user_id = #{userId} ) AS buy ON product.id = buy.product_id
        WHERE
            product.state = #{prodStateCode}
        GROUP BY
            product.id
        ORDER BY
            id ASC
    </select>

    <select id="findProductsForBuyerNoBuyed" resultMap="productResultMap" parameterType="com.czl.req.product.ProdQueryReqForLogin">
        SELECT
            product.id AS id,
            product.NAME AS NAME,
            product.price AS price,
            product.url AS url
        FROM
            biz_product product
        WHERE
            id NOT IN ( SELECT product_id FROM biz_buy WHERE user_id = #{userId} )
            AND state = #{prodStateCode}
        ORDER BY id ASC
    </select>


    <select id="findProductsForSeller" resultMap="productResultMap" parameterType="com.czl.req.product.ProdQueryReqForLogin">
        SELECT
            product.id AS id,
            product.NAME AS NAME,
            product.price AS price,
            product.url AS url,
            buy.num AS num
        FROM
            biz_product AS product
            LEFT JOIN (
                SELECT
                    product_id,
                    SUM( num ) AS num,
                    COUNT( product_id )
                FROM
                    biz_buy
                GROUP BY
                    product_id
            ) AS buy ON buy.product_id = product.id
        ORDER BY
            id ASC
    </select>

</mapper>